<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PurchaseOrder.SiteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <div class="container">
            <asp:ContentPlaceHolder id="MainContent" runat="server" />
        </div>
    </form>
</body>
</html>
