
ul {
	list-style: disc inside;
	margin-left: 1em;
}

#content {
	padding: 10px;
}


/*input[type=text] { width: 15em; }*/

#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }